@model IEnumerable<Gestionale_Albergo.Models.Servizi>

@{
    ViewBag.Title = "ServiceList";
}


@if (ViewBag.msgerror != null)
{
    <div class="alert alert-warning">@ViewBag.msgerror</div>
}
<p>
    @Html.ActionLink("Aggiungi servizio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPrenotazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrCamera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente)
        </th>
        <th>
            @Html.DisplayName("Totale Servizi")
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPrenotazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCamera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            
            <td>

                @Html.ActionLink("Dettagli Servizi", "Details", new { id=item.IdPrenotazione }) |

            </td>
        </tr>
    }

</table>
