<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="row">
        <div class="col-1">
            <h2>
                @Html.ActionLink("Hotel", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </h2>
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Prenotazioni", "ListaPren", "Booking")</li>
                    <li>@Html.ActionLink("Clienti", "CustomList", "Customer")</li>
                    <li>@Html.ActionLink("Camere", "RoomList", "Room")</li>
                    <li>@Html.ActionLink("Servizi", "ServiceList", "Service")</li>
                    <li>@Html.ActionLink("Check-Out", "ListaCk", "Checkout")</li>
                    <li>@Html.ActionLink("Ricerca prenotazioni", "QueriesPage", "Queries")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item mx-2">
                            <a class="nav-link">@Html.ActionLink("Logout", "Logout", "Home")</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mx-2">
                            <a class="nav-link">@Html.ActionLink("Login", "Login", "Home")</a>
                        </li>

                    }
                </ul>
            </div>
        </div>

        <div class="container body-content col-11">
            @RenderBody()
            <hr />
        </div>
    </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET By Daniela</p>
        </footer>



    @RenderSection("scripts", required: false)
</body>
</html>
